# Python
__pycache__/
*.py[cod]
*.class

# Virtual environments
.venv/
venv/

# Environment files
.env
.env.*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info

# Build artifacts
build/
dist/

# Lambda build artifacts
lambda-package/
processor-package/
order-api.zip
order-processor.zip

# Local AWS IAM policy documents
github-actions-integration-test-policy.json
github-actions-trust-policy.json
github-actions-deployment-policy.json